@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css");

* {
    margin: 0;
    padding: 0;
}

:root { 
    --font: 'Roboto', sans-serif;
    --color-red: #D6000D;
    --color-black: #000000;
    --color-light: #FFFFFF;
    --color-gray: #DCDCDC;
}

html {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

[codar-page] {
    font-family: var(--font);
    font-size: 25px;
    color: var(--color-red);
    background-color: var(--color-light);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 20vh;
}

.logo {
    font-size: 2.2em;
    margin-left: 35px;
    font-style: oblique;
}

.logo span {
    color: var(--color-black);
    padding-left: .5vh;
}

nav {
    display: flex;
    justify-content: flex-end;
    width: 100vw;        
}

nav ul {
    display: flex;
    justify-content: space-around;
    margin: 0 ;
}

nav ul li {
    list-style: none;
    margin-right: 40px;
}

nav ul li > a {
    font-weight: 400;
    font-size: 1.1em;
    color: var(--color-black)
}

a {
    text-decoration: none;
}

.button a {
    padding: .8vw 5vw; 
    background-color: var(--color-red);
    border-radius: 15px;
    color: var(--color-light);
} 

[banner] {
    display: grid;
    grid-template: 80vh / 1fr 1fr;
    justify-items: center;
    align-items: center;
}

[banner] .banner-text {
    margin-left: 3em;
}
[banner] .banner-img {
    margin: 3em 0 0 2em;
}

[banner] .banner-img img {   
    width: 32vw;
    height: 60vh;
}

[banner] .banner-text h2 {
    font-weight: 900;
    font-size: 1em;
    color: var(--color-black);
}

[banner] .text-main {
    display: inline-block;
    font-weight: 900;
    font-size: 2.8em;
    color: var(--color-red)
}

[banner] .button {
    margin-top: 10vh;
} 

[options] {
    display: grid;
    grid-template: 450px / 1fr 1fr;
    margin-top: 8em;
    justify-items: center;
    align-items: center;
}

[options] ul {
    list-style-image: url('../assets/img/check.png');
    justify-self: center;
}

[options] .options-img {
    justify-self: center;
    margin-right: 3em;
}

[options] .options-img img {
    width: 500px;
    height: 450px;
}

[options] ul li {
    color: var(--color-black);
    font-size: 1.2em;
    padding-left: 20px;
    margin-top: 10px;
}

[call] {
    display: flex;
    flex-direction: column;
    margin-left: 5.5em;
}

[call] h4 {
    color: var(--color-black);
}

[call] .call-input {
    display: flex;
    height: 100px;
    align-items: center; 
}
[call] .call-input input[type="text"] {
    width: 260px;
    height: 50px;
    padding: 5px 5px;
    background-color: var(--color-gray);
    border: none;
    border-radius: 12px;
    color: var(--color-light);
    outline: none;
    color: var(--color-black);
    font-size: .6em;
}

[call] .call-input input[type="text"]::placeholder {
    color: #807979;
    font-size: 1.6em;
    font-family: var(--font);
    padding: 2em 0 0 1em;
    font-weight: 400;
}

[call] .call-input .button {
    margin-left: .5em;
}

[call] .call-input .button a {
    padding: 16px 40px;
}

[depositions] {
    display: flex;
    height: 70vh;
    justify-content: center;
    margin-top: 5em;
}

[depositions] .group-cards {
    width: 87vw;
    display: grid;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

[depositions] .card {
    width: 42vw;
    height: 200px;
    background-color: var(--color-gray);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

[depositions] .card .card-circle {
    align-self: flex-start;
    margin-top: 1.2em;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: var(--color-red);
}

[depositions] .card .card-text {
    width: 62%;
    font-size: .7em;
    font-family: var(--font);
    color: var(--color-black);
    text-align: justify;   
    margin-left: 2em; 
    
}

[depositions] .card .card-people {
    margin-top: .3em;
    font-size: 1.7em;
}

[depositions] .card .card-company {
    margin-top: .1em;
    font-size: 1.1em;
    font-weight: 600;
}

footer {
    display: grid;
    grid-template: 55vh / repeat(4, 1fr);
    justify-items: center;
    background-color: var(--color-black);
}
.codar-footer,
.about-codar,
.about-contacts,
.about-social {
    margin-top: 3.5em;
}
.codar-footer h5 {
    font-size: 2.2em;
    font-weight: 400;
    color: var(--color-light);
}

.about-codar h5,
.about-contacts h5,
.about-social h5 {
    font-size: 1.1em;
    font-weight: 400;
    color: var(--color-light);
}

.codar-footer h6,
.about-codar h6,
.about-contacts h6,
.about-social h6 {
    font-size: .8em;
    font-weight: 400;
    color: var(--color-light);
    margin-top: 1em;
}

.about-contacts span {
    margin-top: 1em;
}

footer span {
    display: block;
}

.about-social ul {
    margin-top: 1em;
    display: grid;
    grid-template: 1fr / repeat(3, 1fr);
    justify-items: center;
}

.about-social ul li {
    list-style: none;
    font-size: 1.3em;
}


